[submodule "pixels-cpp"]
	path = pixels-cpp
	url = https://github.com/neo-SunBoyan/pixels-cpp.git
[submodule "third-party"]
	path = third-party
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "pixels_fdw/pixels-cpp"]
	path = pixels_fdw/pixels-cpp
	url = https://github.com/neo-SunBoyan/pixels-cpp.git
[submodule "third-party/protobuf"]
	path = third-party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "pixels_fdw/third-party/protobuf"]
	path = pixels_fdw/third-party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
